@using MySite.Controllers;

@{ Layout = null;}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Экстрасенсы</title>
</head>
<body>
    @{
        foreach (var d in context)
        {
            
        }
    }
</body>
</html>