<form asp-controller="Home" asp-action="OnClik" method="post">
    <div>
        <h4>Загадайте двухзначное число и нажмите на кнопку <button>Загадал</button></h4>
    </div>
</form>

@await Html.PartialAsync("OutputTemplate");