@{ 
    var gameRaund = Model.GetGameData().CurrentGameRound;
}

<form asp-controller="Home" asp-action="EndRound" method="post">
    <div>
        @for (int i = 0; i < gameRaund.PsychicNumber.Count; i++)
        {
            <h3>Предсказания экстрасенса №@(i+1): @gameRaund.PsychicNumber[i] </h3>
        }
    </div>
    <div>
        <input min="@Game.MinInput" max="@Game.MaxInput" type="number" name="number" placeholder="ввод">
        <button type="submit">Отправить</button>
    </div>
</form>
