<form asp-controller="Home" asp-action="EndRound" method="post">
    <div>
        @for (int i = 0; i < Model.GetGameData().CurrentGameRound.PredictionsPsychics.Count; i++)
        {
            <h3>Предсказания экстрасенса №@(i+1): @Model.GetGameData().CurrentGameRound.PredictionsPsychics[i] </h3>
        }
    </div>
    <div>
        <input min="10" max="99" type="number" name="number" placeholder="ввод">
        <button type="submit">Отправить</button>
    </div>
</form>
