<form asp-controller="Home" asp-action="InputNamber" method="post">
    <div>
         <h3>Предсказания экстрасенса №1: @Model.game.roundGames[^1].Psychic1 </h3>
         <h3>Предсказания экстрасенса №2: @Model.game.roundGames[^1].Psychic2 </h3>
    </div>
    <div>
        <input type="number" asp-for="InputUser">
        <button type="submit">Отправить</button>
    </div>
</form>

@await Html.PartialAsync("OutputTemplate");