<div>
    @{int i = 0;}
    @foreach (var trust in Model.PsychicTrusts)
    {
        i++;
        <h3>Доверие к экстрасенсу №@i: @trust </h3>
    }
</div>

<table>
    <tr>
        <th>
           <h3> Введенные значения </h3>
        </th>
        @{i = 0;}
        @while(i < Model.Psychics.Count)
        {
            i++;
            <th><h3> Предсказания экстрасенсa №@i </h3></th>
        }
    </tr>

    @foreach (var round in Model.GameRounds)
    {
        <tr>
            <th>
                @round.User
            </th>
            @foreach (var number in round.Psychics)
            {
                <th>
                    @number
                </th>
            }
        </tr>
    }
</table>
