<div>
    @for(int l = 0; l < Model.GetPsychicTrusts().Count; l++)
    {
        <h3>Доверие к экстрасенсу №@(l+1): @Model.GetPsychicTrusts()[l] </h3>
    }
</div>

<table>
    <tr>
        <th>
           <h3> Введенные значения </h3>
        </th>
        @for(int i = 0; i < Model.GetPsychics().Count; i++)
        {
            <th><h3> Предсказания экстрасенсa №@(i+1) </h3></th>
        }
    </tr>

    @foreach (var round in Model.GetСompletedRounds())
    {
        <tr>
            <th>
                @round.NumberUser
            </th>
            @foreach (var number in round.PredictionsPsychics)
            {
                <th>
                    @number
                </th>
            }
        </tr>
    }
</table>
