@{ 
    var trust = Model.GetPsychicTrusts();
    var gameData = Model.GetGameData();
}

<div>
    @for (int l = 0; l < trust.Count; l++)
    {
        <h3>Доверие к экстрасенсу №@(l+1): @trust[l] </h3>
    }
</div>

<table>
    <tr>
        <th>
           <h3> Введенные значения </h3>
        </th>
        @for(int i = 0; i < gameData.Psychics.Count; i++)
        {
            <th><h3> Предсказания экстрасенсa №@(i+1) </h3></th>
        }
    </tr>

    @foreach (var round in gameData.GameRoundsHistory)
    {
        <tr>
            <th>
                @round.UserNumber
            </th>
            @foreach (var number in round.PsychicNumber)
            {
                <th>
                    @number
                </th>
            }
        </tr>
    }
</table>
