<form asp-controller="Home" asp-action="OnClik" method="post">
    @if(!Model.ClicUser)
    {
        <div>
            <h4>Загадайте двухзначное число и нажмите на кнопку <button>Загадал</button></h4>
        </div>
    }
</form>
<form asp-controller="Home" asp-action="Site" method="post">
    @if(Model.ClicUser)
    {
        <div>
            @for (int i = 0; i < Model.Psychics.Count; i++)
            {
                int l = i + 1;
                <h3>Доверие к экстрасенсу №@l: @Model.Psychics[i].AllNumbersPsychic[Model.Psychics[i].AllNumbersPsychic.Count-1] </h3>
            }
        </div>
        <div>
            <input type="number" asp-for="User.Namber">
            <button type="submit">Отправить</button>
        </div>
    }
</form>

<div>
    @for(int i = 0; i < Model.Psychics.Count; i++)
    {
        int l = i + 1;
        <h3>Доверие к экстрасенсу №@l: @Model.Psychics[i].Trust </h3>
    }
</div>

<table>
    <tr><th><h3> Введенные значения </h3></th><th><h3> Предсказания экстрасенсa №1 </h3></th><th><h3> Предсказания экстрасенсa №2 </h3></th></tr>

    <tr>
        <th>
            @foreach (int i in Model.User.ArrayNamber)
            {
                <h4> @i </h4>
            }
        </th>
        <th>
            @foreach (int i in Model.Psychics[0].AllNumbersPsychic)
            {
                <h4> @i </h4>
            }
        </th>
        <th>
            @foreach (int i in Model.Psychics[1].AllNumbersPsychic)
            {
                <h4> @i </h4>
            }
        </th>
    </tr>
</table>

