<form asp-controller="Home" asp-action="onClik" method="post">
    @if(!Model.UserNamber.onClik)
    {
        <div>
            <h4>Загадайте двухзначное число и нажмите на кнопку <button>Загадал</button></h4>
        </div>
    }
</form>
<form asp-controller="Home" asp-action="Site" method="post">
    @if (Model.UserNamber.onClik)
    {
        <div>
            <h3>Экстрасенс №1 предсказал число: @Model.PsychicNamber.witch_1_Namber[Model.PsychicNamber.witch_1_Namber.Count - 1] </h3>
            <h3>Экстрасенс №2 предсказал число: @Model.PsychicNamber.witch_2_Namber[Model.PsychicNamber.witch_2_Namber.Count - 1] </h3>
        </div>
        <div>
            <input type="number" asp-for="UserNamber.namber">
            <button type="submit">Отправить</button>
        </div>
    }
</form>

<div>
    <h3>Доверие к экстрасенсу №1: @Model.PsychicNamber.confidence_1</h3>
    <h3>Доверие к экстрасенсу №2: @Model.PsychicNamber.confidence_2</h3>
</div>

<table>
    <tr><th><h3> Введенные значения </h3></th><th><h3> Предсказания экстрасенсa №1 </h3></th><th><h3> Предсказания экстрасенсa №2 </h3></th></tr>

    <tr>
        <th>
            @foreach (int i in Model.UserNamber.ArrayNamber)
            {
                <h4> @i </h4>
            }
        </th>
        <th>
            @foreach (int i in Model.PsychicNamber.witch_1_Namber)
            {
                <h4> @i </h4>
            }
        </th>
        <th>
            @foreach (int i in Model.PsychicNamber.witch_2_Namber)
            {
                <h4> @i </h4>
            }
        </th>
    </tr>
</table>

