<form asp-controller="Home" asp-action="Site" method="post">
    <div>
        <h4>Загадайте двух значное число и нажмите на кнопку <button>Загадал</button></h4>
    </div>
    @if (Model.UserNamber.onClik)
    {
        <div>
            <input type="number" asp-for="[@Model.UserNamber.namber]">
            <button type="submit">клик</button>
        </div>
    }
</form>

